# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

NEXT_PUBLIC_SUPABASE_URL=https://uomwmsfctyczlegcrttv.supabase.co/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVvbXdtc2ZjdHljemxlZ2NydHR2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQ2NjQyMDIsImV4cCI6MjA2MDI0MDIwMn0.rLiOUoXIDWdS7DqcQbGDqPYHnNtiOu_GEbv0nYL16-c

# NextAuth requires the following variables, NEXTAUTH_SECRET and NEXTAUTH_URL. NextAuth.js needs NEXTAUTH_SECRET
# environment variable to encrypt JWTs and to hash email verification tokens. NEXTAUTH_URL is used by NextAuth
# for redirections on login, etc.

NEXTAUTH_SECRET=secret
NEXTAUTH_URL=http://localhost:3000

# Created by Vercel CLI
POSTGRES_DATABASE="verceldb"
POSTGRES_HOST="***"
POSTGRES_PASSWORD="***"
POSTGRES_PRISMA_URL="postgres://default:***@***/verceldb?pgbouncer=true&connect_timeout=15&sslmode=require"
POSTGRES_URL="postgres://default:***@***/verceldb?sslmode=require"
POSTGRES_URL_NON_POOLING="postgres://default:***@***/verceldb?sslmode=require"
POSTGRES_URL_NO_SSL="postgres://default:***@***/verceldb"
POSTGRES_USER="default"
